.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}


h1, h2 {
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

p {
    padding: 30px 0 30px 0;
    line-height: 1.7em;
}

.container a {
    border: 1px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    font-weight: bolder;
}

.container a:hover{
    background: #ffffff;
    color:#2d2640;
    cursor: pointer;
}

.container p {
    color:#909090;
}

.intro {
    background-color: #2d2640;
    color: #fffffff1;
}


#how-we-work {
    background-color: #2d2640;
    color: #ffffff;
}

footer > section > ul > p {
    color: gray;
    font-weight: bold;
}

footer > section > ul > li:hover {
    color: black;
    font-weight: bolder;
} 